{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRKC</title>
   <link rel="stylesheet" href="{% static "Home/css/protfolio.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="pic_container"> 
            <div class="profile-pic">
                <img src="{% static "Home/images/mrkc.jpg" %}" alt="Shishir Khatri Profile Picture" onerror="this.style.display='none'; this.parentNode.innerHTML='Profile Photo';">
            </div>
        </div>

        <div class="intro">
            <h3>HI,</h3>
            <h1 class="primary">My Name is Shishir Khatri. I am a Back-End Developer.</h1> 
            <p>Based from : Nepal</p>      
        </div>
    </div>
</body>
</html>