{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Shishir KC </title>
    <link rel="stylesheet" href="{% static "Home/css/block.css" %}">
</head>
<body bgcolor="#121212 ">
   <center>  <h1 style="color: #E5E7EB ;"> server is in development </h1>
    </center>
    <p style="color: #E5E7EB;">
                 hi ! 
    </p><br>
    
    <ul>
        <li> 

            <h1 style="color: #E5E7EB ;"> Text color </h1>
            <h1 style="color: #9CA3AF;"> Muted text </h1>
            <h2 style="color: 	#10B981;"> Accent</h2>
            <h3 style="color: 	#8B5CF6;"> Secondary</h3>

        </li>

    </ul>

    <!-- <button style="color: #3B82F6;"> Electric </button> -->

</body>
</html>